* {
  box-sizing: border-box;
  text-align: center;
}

nav {
  background-color: #ffc107;
  width: 100%;
  float: left;
  display: block;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
}

.App {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 5rem;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  padding: 1rem;
  border: solid 1px black;
  margin: 1rem;
  width: 20rem;
}

input {
  margin: auto;
  margin-bottom: 1.5em;
}

.form-inputs {
  text-align: right;
  width: 60%;
  margin: auto;
}

form {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
  width: 33%;
  padding: 1em 2em 1em 1em;
}

button {
  background-color: #306e38;
  border-radius: 5px;
  font-size: large;
  font-style: italic;
  color: rgb(66, 66, 66);
  background-color: black;
}

.form-btn {
  padding: 1.5em;
  margin-bottom: 1.5em;
}

img {
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}
