body {
  font-family: var(--bs-body-font-family);
  /*  margin: 0; */
  /*  padding: 0; */
  background-image: url("https://www.tbd.community/sites/default/files/styles/hd/public/field/image/list-charity-germany.jpg.webp?itok=02y1lYBd");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  /*  background-color: rgb(255, 255, 255); */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* width: 50%; */
  text-align: center;
  margin: auto;
}

.wrapper--max {
  margin: 0 auto;
  max-width: 2556px;
}
.user-view {
  background-color: rgba(255, 255, 255, 0.705);
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: auto;
}

.basket {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin: 20px;
}
